body{
    background-position: 0; 
    color: whitesmoke;
}

.header{
    background-color:#ffffff;
    position: fixed;
    height: 1.2cm;
    padding-left: 0.30cm;
    padding-top: 0.15cm;
    top: 0;
    left: 0;
    right: 0;
    border-style: inset;
    border-width: 1px;
    border-top: white;
    border-color: #CFD3C9;
}

.header div #documentacion{
    position: fixed;
    top: 0.25cm;
    margin-left: 1.5cm;
}

body #contenedor-botones{
    background-color: #ffffff;
    position: fixed;
    top: 1.38cm;
    left: 0;
    right: 0;
    border-style: inset;
    border-width: 1px;
    border-color:#CFD3C9;
    border-top: white;
    padding-top: 0.3cm;
    height: 1.1cm;
}

.contenedor{
    margin-top: 5cm;
}

div #b-interpretar{
    margin-top: 1cm;
    margin-left:-23cm;
    height: 50px;
    width: 200px;
    background-color:rgb(98, 216, 98);
    font-family: tahoma;
    font-size: 23px;
    border-radius: 5px;
    border:solid 2px rgb(98, 216, 98);
}

#b-prueba{
    height: 30px;
    width: 170px;
    background-color: #9999FF;
    font-family: tahoma;
    font-size: 18px;
    border-radius: 5px;
    border: solid 2px#9999FF;
}

#b-documentacion{
    height: 30px;
    width: 150px;
    background-color: burlywood;
    font-family: tahoma;
    font-size: 18px;
    border-radius: 5px;
    border:solid 2px burlywood;
}

#b-documentacion, #b-interpretar, #b-prueba{
    margin: 0 0.3cm;
}

#inputprincipal{
    border-radius: 12px;
    resize: none;
    border-color: gray;
    width: 45%;
    height: 300px;
    padding: 0.5cm;
    font-size: 18px;
    font-family: tahoma;
    margin-left: 1cm;
}

#parrafo-bueno-o-malo{
    color: black;
    font-size: 20px;
    font-family:tahoma;
}    

.tipo1{
    border-radius: 9px;
    height: 1cm;
    padding-left: 0.45cm;
    width: 300px;
    color: black;
    font-size: 20px;
    font-family:tahoma;
    background-color:rgb(98, 216, 98);
    margin-left:-8cm;
    margin-top: -1.65cm;
}

.tipo2{
    border-radius: 9px;
    height: 1cm;
    padding-left: 0.3cm;
    width: 250px;
    color: black;
    font-size: 20px;
    font-family:tahoma;
    background-color: rgb(255, 132, 132);
    margin-left:-8cm;
    margin-top: -1.65cm;
}

.tipo3{
    border-radius: 9px;
    height: 1cm;
    padding-left: 0.3cm;
    width: 280px;
    color: black;
    font-size: 20px;
    font-family:tahoma;
    background-color: #FFA533;
    margin-left:-8cm;
    margin-top: -1.65cm;
}
.tipo1 p{
    margin-top: 0.5cm;
    padding-top: 0.15cm;
}

.tipo2 p{
    margin-top: 0.5cm;
    padding-top: 0.15cm;
}

.tipo3 p{
     margin-top: 0.5cm;
    padding-top: 0.15cm;
}

/* codigo de la pagina de Documentacion.html */

body #contenedor-b-enlaces{
    background-color: #ffffff;
    position: fixed;
    top: 1.38cm;
    left: 0;
    right: 0;
    border-style: inset;
    border-width: 1px;
    border-color:#CFD3C9;
    border-top: white;
    height: 1.4cm;
}

#contenedor-documentacion{
    margin-top: 5cm;
}

h1{
    
    font-size: 26px;
    font-family: tahoma;
    color: black;
    margin-bottom: 3cm;
}

h2{
    margin-left: 2cm;
    font-size: 22px;
    font-family: tahoma;
    color: black;
}

h3{
    margin-left: 2cm;
    font-size: 20px;
    font-family: Calibri;
    color: rgb(41, 41, 41); 
}

body #contenedor-documentacion img{
    margin-left: 2cm;
}

#contenedor-b-enlaces{
    display: flex;
}

#contenedor-b-enlaces a{
    font-size: 18px;
    font-family: tahoma;
    color: black;
    padding: 0 1.25cm;
    padding-top: 0.25cm;
    justify-content: center;
}

body #contenedor-b-enlaces a:hover{
    background-color: #CFD3C9;
}